body{
    background-color: black;
}

.container{
    display: none;
    background-color: transparent;
    z-index: 10;
    font-size: 60px;
    position: absolute;
    left: 33%;
    font-family:cursive;
    top: 30%;
    color: white;
    transition: display 2.5s ease;
}
.container.active{
    display: block;
    background-color: transparent;
    z-index: 10;
    font-size: 60px;
    position: absolute;
    left: 33%;
    font-family:cursive;
    top: 30%;
    color: white;
   
}

.btn{
    width: 300px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    color:black;
    font-size:30px;
    text-align: center;
    left: 38%;
    border-radius: 40px;
    transform: scale(1);
    top: 15%;
    transition: transform 0.5s;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}
.btn:hover{
    background: linear-gradient(red, yellow, green);
    transform: scale(1.5);

}
.name{
    display: none;
    background-color: transparent;
    z-index: 10;
    font-size: 60px;
    position: absolute;
    left: 43%;
    font-family:cursive;
    top: 40%;
    color: white;
    transition: display 2.5s ease-in;
}
.name.active{
    display: block;
    background-color: transparent;
    z-index: 10;
    font-size: 60px;
    position: absolute;
    left: 49%;
    font-family:cursive;
    top: 40%;
    color: white;
    
}
.img1{
display: none;
    position: absolute;
    left: 15%;
    top: 50%;
    width: 200px;
    transition: display 2.5s ease-in-out;
}
.img1.active{
    display: block;
        position: absolute;
        left: 15%;
        top: 50%;
        width: 200px;
}
